<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cohort overview</title>
</head>
<body>

<div class="container">

    <form th:action="@{/cohort/save}"
          th:object="${newCohort}"
          method="post">

        <div>
            <label th:for="*{name}">Cohort naam</label>
            <input type="text" th:id="*{name}" th:field="*{name}">
        </div>
        <div>
            <label th:for="*{startDate}">Startdatum Cohort</label>
            <input type="date" th:id="*{startDate}" th:field="*{startDate}">
        </div>
        <div>
            <label th:for="*{subject}">Opleidingsrichting</label>
            <input type="text" th:id="*{subject}" th:field="*{subject}">
        </div>

        <button type="submit">Opslaan</button>
        <button type="reset">Formulier leegmaken</button>
        <br>
        <a th:href="@{/cohort/all}">Annuleer, terug naar het overzicht</a>


    </form>
</div>

</body>
</html>