<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persoonlijke informatie</title>
</head>
<body>
    <h1>Persoonlijke informatie toevoegen</h1>

    <form th:action="@{/info/save}"
          th:object="${newUser}"
          method="post"
          enctype="multipart/form-data">

        <div>
            <label th:for="*{firstName}">Voornaam</label>
            <input type="text" th:field="*{firstName}">
        </div>

        <div>
            <label th:for="*{lastName}">Achternaam</label>
            <input type="text" th:field="*{lastName}">
        </div>

        <div>
            <label th:for="*{birthDate}">Geboortedatum</label>
            <input type="date" th:field="*{birthDate}">
        </div>
        <div>
            <label>Selecteer Cohort(en):</label>
            <div th:each="cohort : ${allCohorts}">
                <input type="checkbox"
                       th:field="*{cohorts}"
                       th:value="${cohort.Id}">
                <label th:text="${cohort.name}">Naam van cohort</label>
            </div>
        </div>
    
        <div>
            <label th:for="*{futureEmployer}">Toekomstige werkgever</label>
            <input type="text" th:id="*{futureEmployer}" th:field="*{futureEmployer}">
        </div>

        <div>
            <label th:for="*{bio}"
            >Vertel iets over jezelf</label>
            <textarea th:id="*{bio}" th:field="*{bio}"></textarea>
        </div>

        <div class="mb-3">
            <label for="imageFile" class="form-label text-secondary mb-1">Profielfoto</label>
            <input type="file" id="imageFile"
                   name="imageFile"
                   accept="image/*"
                   class="form-control form-control-lg text-secondary">
        </div>


        <button type="submit">Insturen</button>
        <button type="reset">Formulier leegmaken</button>
        <br>
        <a th:href="@{/user/all}">Annuleer, terug naar het overzicht</a>

    </form>
</body>
</html>