<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gebruikersoverzicht</title>
</head>
<body>

<div class="container">
    <h1>
        Gebruikersoverzicht
    </h1>

    <table>
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortejaar</th>
            <th>Toekomstige werkgever</th>
            <th>Bio</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${allUsers}">
            <td th:text="${user.firstName}">Voornaam</td>
            <td th:text="${user.lastName}">Achternaam</td>
            <td th:text="${user.birthYear}">2000</td>
            <td th:text="${user.futureEmployer}">Bedrijf</td>
            <td th:text="${user.bio}">Bio tekst komt hier</td>
        </tr>
        </tbody>
    </table>


    <p><a th:href="@{/info/add}">Gebruikersinformatie toevoegen</a></p>
    <p><a th:href="@{/}">Terug naar start</a></p>
</div>

</body>
</html>