<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${paginaTitel} ?: 'broBook'"></title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=DM+Sans:wght@300;400;500&display=swap"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/Style.css}">
</head>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark  mb-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            broBook
        </a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link"
               href="/user/all">Gebruikers</a>
            <a class="nav-link"
               href="/cohort/all">Cohorts</a>
        </div>
    </div>
</nav>


<footer th:fragment="footer" class="mt-5 py-3 border-top text-muted text-center">
    <p>broBook - Binary Bro's</p>
</footer>

<div th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>

</html>
