<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/general :: header}"></div>
    <title>broBook homepage</title>
</head>
<body>

<nav th:replace="~{/fragments/general :: navbar}"></nav>

<div class="container">
    <p>Welkom, als je niet kan inloggen, neem dan contact op met je docent</p>

    <a th:href="@{/user/all}">Ga naar het overzicht van de gebruikers</a>
    <br>
    <a th:href="@{/cohort/all}">Ga naar het overzicht van de cohorten</a>
    <br>
    <a target="_blank" href="https://it-omscholing.nl/">Ga naar de make it work pagina</a>
</div>

<div th:replace="~{/fragments/general :: footer}"></div>

</body>
</html>